
body{background-color: rgb(41, 57, 94);
color: white;}
h1, h2, p, nav,h3{
    font-family: 'Playfair Display', serif;
}
h2{
    margin-top: 1em;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
input{
    margin: .25em;
}
a{
    color: greenyellow;
    text-decoration: none;
}
a:hover{
    color: white;
}
h1, h2{
    display: flex;
    justify-content: center;
    background-color: rgb(41, 57, 94);
    color: white;
    margin: 0px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#SkillSet{
    padding-top: 3em;
}
#ProjectsSection{
    padding-top: 3em;
}
.headingtwo{
    padding-bottom: 1em ;
}
.about{
    margin-top: 150px;
    line-height: 2;
    color: white;
    padding-bottom: 1em;
}
.AboutMe{
    display: flex;
    flex: content;
}
.skillsBackground{
    background-color:rgb(41, 57, 94);
    color: white;
}
.aboutMeSection{
    background-image: url(imgs/background.jpg);
    background-position: center;
    background-size: cover;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headshot{
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 20px;
}
.icon{
    width: 50px;
    height:auto;
    margin: .2em .4em;
}
.singleSkill{
    margin: .5em .5em;

}
.projectsDescription{
    margin-top: 1em;
    line-height: 2;
}
.footerLinks{
    padding: .5em .3em;
}
.github{
    display: flex;
    padding: 2em;
    flex-direction: column;
    
}
.projectTitle{
    font-weight: bold;
    margin-top: 1em;
}
.projectTag{
    font-style: italic;
}
.projectOverview{
    font-weight: bold;
    font-style: italic;
}
.githubLink{
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.thankYou{
    display: flex;
    justify-content: center;
}
.thanks{
    margin-top: 4em;
    margin-bottom: 1em;
}
.thankyouNote{
    margin-top: 1em;
    margin-left: 5em;
}
.happpyCoding{

    margin-left: 10em;
}
.messageBox{
    width: 30em;
}
.email{
    width: 30em;
}
.contactMeTitle{
    margin-top: 1em;
}
.btnmargin{
    margin-bottom: 2em;
}




@media(max-width:1050px){
    .about{
        margin-top: 100px;
    }
    .github{
        flex-direction: column-reverse;
        align-items: center;
    }

}

@media(max-width:800px){
    .skills{
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
   
    }
    .about{
        justify-content: center;
        margin-top: 100px;
    }
    .AboutMe{
        flex-direction: column;
        align-items: center;
    }
    .headshot{
        align-items: center;
        margin-top: 0px;
    }
    .singleSkill{
        margin: 1em 1em;
    }
    .footerLinks{
        padding: .2em;
        flex-direction: column;
        align-items: center;
    }
    .thanks{
        font-size: medium;
        margin-top: 4em;
        margin-bottom: 1em;
    }
    .thankyouNote{
        font-size: medium;
        margin-top: 1em;
        margin-left: 2em;
    }
    .happpyCoding{
        font-size: medium;
        margin-left: 6em;
    }
    .thankYou{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

 
}
@media(max-width:500px){
    .thanks{
        font-size: small;

    }
    .thankyouNote{
        font-size: small;

    }
    .happpyCoding{
        font-size: small;
    
    }
}