
body{background-color: rgb(41, 57, 94);
color: white;}
h1, h2, p, nav{
    font-family: 'Playfair Display', serif;
}
h2{
    margin-top: 1em;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}
h1, h2{
    display: flex;
    justify-content: center;
    background-color: rgb(41, 57, 94);
    color: white;
    margin: 0px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#SkillSet{
    padding-top: 3em;
}
#ProjectsSection{
    padding-top: 3em;
}
.headingtwo{
    padding-bottom: 1em ;
}
.about{
    margin-top: 150px;
    line-height: 2;
    color: white;
    padding-bottom: 1em;
}
.AboutMe{
    display: flex;
    flex: content;
}
.skillsBackground{
    background-color:rgb(41, 57, 94);
    color: white;
}
.aboutMeSection{
    background-image: url(/imgs/background.jpg);
    background-position: center;
    background-size: cover;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headshot{
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 20px;
}
.icon{
    width: 50px;
    height:auto;
    margin: .2em .4em;
}
.singleSkill{
    margin: .5em .5em;

}
.projectsDescription{
    margin-top: 1em;
    line-height: 2;
}
.footerLinks{
    padding: .5em .3em;
}
.github{
    display: flex;
    
}
.gitThumb{
    float: left;
    width:  400px;
    height: 400px;
    background-size: cover;
    padding: .5em;
}

@media(max-width:1050px){
    .about{
        margin-top: 100px;
    }
}

@media(max-width:800px){
    .skills{
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
   
    }
    .about{
        justify-content: center;
        margin-top: 100px;
    }
    .AboutMe{
        flex-direction: column;
        align-items: center;
    }
    .headshot{
        align-items: center;
        margin-top: 0px;
    }
    .singleSkill{
        margin: 1em 1em;
    }
    .footerLinks{
        padding: .2em;
        flex-direction: column;
        align-items: center;
    }
    .githubthumbgallery{
        flex-direction: column;
        align-items: center;
    }
}