
body{background-color: black;
color: white;}
h1, h2, p, nav{
    font-family: 'Playfair Display', serif;
}
h2{
    margin-top: 1em;
}
h1, h2{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about{
    margin-top: 120px;
    line-height: 2;
    color: white;
}
.AboutMe{
    display: flex;
    flex: content;
}
.skillsBackground{
    background-color: black;
    color: white;
}
.aboutMeSection{
    background-image: url(/imgs/pramod-tiwari-EQSBOd7M29U-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headshot{
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 20px;
}
.icon{
    width: 50px;
    height:auto;
}
.singleSkill{
    margin: .5em .5em;

}
.projectsDescription{
    margin-top: 1em;
    line-height: 2;
}
.footerLinks{
    padding: .5em .3em;
}

@media(max-width:800px){
    .skills{
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
   
    }
    .about{
        justify-content: center;
    }
    .AboutMe{
        flex-direction: column;
        align-items: center;
    }
    .headshot{
        align-items: center;
        margin-top: 0px;
    }
    .singleSkill{
        margin: 1em 1em;
    }
    .footerLinks{
        padding: .2em;
        flex-direction: column;
        align-items: center;
    }
}